<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "de.fraunerd.procrastimer"
    version     = "0.0.5" >

<!-- versionCode is optional and Android only -->

  <name>ProcrasTimer</name>

  <description>
      A procrastination timer. 10 minutes of work, 2 minutes of play. An endless circle.
  </description>

  <author href="http://www.fraunerd.de" email="doro@fraunerd.de">
      Frau Nerd
  </author>

</widget>
